nav {
  background-color: #fee2b3;
  .container{
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0 ;
      .brand {
        font-size: 30px;
      }
      .links{
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
 
  }
}